<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leaflet-Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <link rel="stylesheet" href="/public/css/styles.css">
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    #map {
      width: 100%;
      height: 100vh;
    }
    .coordinate {
      position: absolute;
      bottom: 10px;
      left: 5%;
      background-color: blue;
      color: white;
      padding: 10px;
      border: 2px solid white;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <%- include('header') %>
  <div id="map">
    <div class="leaflet-control coordinate"></div>
  </div>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script>
    var map = L.map('map').setView([20.593684, 78.96288], 5);

    var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });

    var Green_tile = L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_satellite/{z}/{x}/{y}{r}.{ext}', {
      minZoom: 0,
      maxZoom: 20,
      attribution: '&copy; CNES, Distribution Airbus DS, © Airbus DS, © PlanetObserver (Contains Copernicus Data) | &copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      ext: 'jpg'
    });
    Green_tile.addTo(map);

    var dark = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
      subdomains: 'abcd',
      maxZoom: 19
    });

    googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
      maxZoom: 20,
      subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
    });

    googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
      maxZoom: 20,
      subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
    });

    var myIcon = L.icon({
      iconUrl: '/img/red_marker.png',
      iconSize: [40, 40],
    });

    var singleMarker = L.marker([20.593684, 78.96288], { icon: myIcon, draggable: true }).addTo(map);
    var Popup = singleMarker.bindPopup('INDIA' + singleMarker.getLatLng()).openPopup();

    console.log(singleMarker.toGeoJSON());

    var baseMaps = {
      "OSM": osm,
      "Green tile": Green_tile,
      'Dark Mode': dark,
      'Google Street': googleStreets,
      "Google Satellite": googleSat
    };

    var overlayMaps = {
      "Marker": singleMarker
    };

    L.control.layers(baseMaps, overlayMaps, { collapsed: true }).addTo(map);

    map.on('mouseover', function () {
      console.log('your mouse is over the map');
    });

    map.on('mousemove', function (e) {
      document.getElementsByClassName('coordinate')[0].innerHTML = 'lat: ' + e.latlng.lat + 'lng: ' + e.latlng.lng;
      console.log('lat: ' + e.latlng.lat, 'lng: ' + e.latlng.lng);
    });
  </script>
</body>
</html>
